
{% extends "cars/layout.html" %}
{% block content %}
<h2>Available BMW Cars</h2>
<div class="row">
    {% for car in cars %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ car.image }}" class="card-img-top" alt="{{ car.model }}">
            <div class="card-body">
                <h5 class="card-title">{{ car.title }} ({{ car.year }})</h5>
                <p class="card-text">${{ car.price }}</p>
                <a href="{% url 'car_detail' car.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
